<h1>Your Posts</h1>
<% @posts.each do |post| %>
  <div class="booyah-box col-10 offset-1">
  <p><%= link_to post.text, post_path(post) %></p>
  <p><%= post.photo %></p>
  <p><%= post.video %></p>
  </div>
<% end %>
